@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-inline {
    border-inline-end: none !important;
}

@layer base {
    svg {
        display: inline;
        vertical-align: baseline;
    }
}
